.devices-management-container {
    grid-area: devices;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
  }

.device-icon{
    width: 40px;
}